* {
    padding: 0px;
    margin: 0px;
}

.fundo {
    background: rgb(104, 98, 205);
    background: linear-gradient(90deg, rgba(104, 98, 205, 1) 0%, rgba(222, 235, 237, 1) 50%, rgba(104, 76, 119, 1) 100%);
}

#fotinha {
    border-radius: 50%;
    position: relative;
    left: 420px;
    margin-top: 100px;
    width: 400px;
}

#sobre-Eu {
    text-align: center;
}

#paragrafro1 {
    text-align: center;
    padding: 50px;
    font-size: 20px;
}

.secao2 {
    background: rgb(104, 98, 205);
    background: linear-gradient(90deg, rgba(104, 98, 205, 1) 0%, rgba(230, 230, 230, 1) 50%, rgba(104, 76, 119, 1) 100%);
}

#vozinha {
    text-align: center;
    position: relative;
    top: 10px;
}

.subTitulovo {
    text-align: center;
    position: relative;
    top: 30px;
}

.paragrafo2 {
    padding: 30px;
    font-size: 20px;
}

.secao3 {
    background: rgb(104, 98, 205);
    background: linear-gradient(90deg, rgba(104, 98, 205, 1) 0%, rgba(222, 235, 237, 1) 50%, rgba(104, 76, 119, 1) 100%);
}

#colorado {
    color: red;
}

#tituloLista {
    text-align: center;
    margin-bottom: 10%;
}

.lista {
    font-size: 20px;
    column-count: 4;
    text-align: center;
    padding-bottom: 20px;
}

.secao4 {
    background: rgb(104, 98, 205);
    background: linear-gradient(90deg, rgba(104, 98, 205, 1) 0%, rgba(222, 235, 237, 1) 50%, rgba(104, 76, 119, 1) 100%);
}

.formulario {
    text-align: center;
    top: 0px;
    position: absolute;
    width: 0px;
}

.cabeca-formulario {
    text-align: center;
    top: 0px;
    bottom: 10px;
}

.corpo-formulario {
    text-align: center;
    position: relative;
    width: 400px;
    border: 2px solid black;
    margin: auto;
    padding-top: 20px;
}