.somarNum{
  position:absolute; 
  top:6rem;
  left:1rem;
  font-size:1rem;
}
.diminuirNum{
  position:absolute;
  top:6rem;
  left:3rem;
  font-size:1rem;
}
.result{
  position:absolute;
  top:7rem;
  left:1rem;
  font-size:2rem;
}
.multiplicaNum{
  position:absolute;
  top:6rem;
  left:5rem;
  font-size:1rem; 
}
.divisorcaNum{
  position:absolute;
  top:6rem;
  left:7rem;
  font-size:1rem; 
}