@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=Bebas+Neue&family=Carter+One&family=Francois+One&family=Fredoka+One&family=Gloria+Hallelujah&family=Indie+Flower&family=Martel:wght@700&family=Meow+Script&family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=Bebas+Neue&family=Carter+One&family=Courgette&family=Francois+One&family=Fredoka+One&family=Gloria+Hallelujah&family=Indie+Flower&family=Martel:wght@700&family=Meow+Script&family=Orelega+One&display=swap');


.list{
    background-image: url('./gratidao_tw.png');
    background-position: 91% 97%;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 1rem;
    margin-top: -10rem;
    padding: 70px 60px;
}
h1{
    font-family: Courgette;
    font-size: 2.20rem;
    text-align: center;
}
h2{
    font-family: Fredoka One;
    font-size: 2.10rem;
}
header.p{
    color: #111;
    font-size: 2.25rem;
}
.input-container{
    display: flex;
    gap: 0,30rem;
    align-items: center;
    background-color: #fff;
    font-size: 16px;
    max-width: 800px;
    margin: 0 auto 0;
    
}
input{
    flex: 1;
    background: #fff;
    border: 0,5 solid #60c3d8;
    padding: 12px 24px;
    border-radius: 8px;
    width: 500px;

}
button{
    font-weight: 600;
    border-radius: 8px;border: 0px;
    color:#fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px;
}
main{
    width: 70%;
    padding-left: 10%;
}
ul{
    list-style: center;
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border-bottom: 0,7px solid #7e7d7d;
    padding: 1rem 0;
}
main ul li div{
    display: flex;
    align-items: center;
    gap: 14px;
    outline: 0;
}
.add-task{
    background: #60c3d8;
}
.remove-task{
    background: rgb(230, 79, 79);

}
main ul li div{
    display: flex;
    align-items: center;
    gap: 14px;
    outline: 0;;
}
ul li div p{
    font-size: 1rem;
    color: #111
}
.completed p{
    text-decoration: line-through;
    opacity: 0,6;
}