p{color:black;}
strong{color:#8181FA;}
h1{color:blue;
text-align: center}
h2{color:blue;}
table{   border: 1px solid black;

    border-colapse: collapse;
text-align: cenborder-colapse: collapse;
text-align: center
    margin: 150px;
ter
    margin: 150px;
  
  

}

 

th,td {

  border: 1px solid black;

}

    

    .color{

      color: black;

            }
form{color:black;}

body { background-color: #FBAAEF;




