head, body {
  text-align:center;
}

#título 
h1 {
  font-size:43px;
}
h2 {
  font-size:25px;
}

#link
{
  font-size:18px;
}

#subtítulo
{
  font-size:23px;
}

#ambições 
{margin-left: auto;
    margin-right: auto;
    width: 14em}

h4 
{font-size:20px;}

#imagem
img {
  height: 250px;
 width: 200px;
}

body {
  margin:2cm;
}

body {font-size:18px;}

body {background-color:LightGreen;}

#link {background-color:MediumSeaGreen}

h1 {color:darkGreen}
h2 {color:darkgreen}
h3, h4 {color:darkgreen}
body {color:dark}







