*{
    padding: 0px;
    margin: 0px;
}

body {
    width: 100%;
    height: 100vh;
}

#img_redonda {
    margin-top: 80px;
    margin-left: 30px;
    height: 160px;
    border-radius: 50%;
    border: 4px solid #fff;
}

.primeiraSecao {
    background-color: #002B5B;
    background-size: cover;
    width: 100%;
    height: 500px;   
}

#nome {
    color: #fff;
    font-size: 85px;
    font-family: sans-serif;
    margin-top: 0px;
    margin-left: 200px;
    text-shadow: 4px 4px #000;
}

#breveexplicacao {
    color: #fff;
    font-family: sans-serif;
    font-size: 22px;
    margin-top: 45px;
    margin-left: 200px;
    width: 400px;
    text-shadow: 2px 2px #000;
}

.segundaSecao {
    background-color: #256D85;
    width: 100%;
    height: 700px;
}

#titulo {
    text-align: center;
    padding-top: 60px;
    font-size: 50px;
    font-family: sans-serif;
    color: #fff;
    width: 100%;
    height: 150px;
    background-color: #2B4865;
    border: 2px solid #fff;
    text-shadow: 4px 4px #000;
}

.container1 {
    column-width: 170px;
    column-gap: 20px;
    width: 80%;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
}

.img {
    margin-top: 20px;
    margin-left: 110px;
    width: 200px;
    height: 210px;
    border: 5px solid #fff;
    display: inline-block;
}

#titulodoscontainers {
    padding-bottom: 10px;
    color: #fff;
    text-shadow: 2px 2px #000;
}

#espaco {
    padding-left: 5px;
}

#paragrafo {
    font-family: sans-serif;
    color: #fff;
    text-shadow: 1px 1px #000;
    font-size: 17px;
}

.card {
    padding-right: 40px;
    break-inside: avoid;
    page-break-inside: avoid;
    background-color: transparent;
    border: 5px double #fff;
    padding: 5px;
    margin: 1px 1px 1em 1px;
}

.terceiraSecao {
    width: 100%;
    height: 700px;
    background-color: #256D85;
}

.container3 {
    padding-left: 100px;
    width: 300px;
    height: 400px;
}

#titulotabela {
    padding-top: 170px;
    padding-bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px #000;
    font-family: sans-serif;
}
#doces {
    font-family: sans-serif;
    color: #fff;
    text-shadow: 1px 1px #000;
}

.img2 {
    background-position: right;
    width: 300px;
    height: 300px;
    display: inline-block;
}

.container4 {
    margin-left: 500px;
    width: 300px;
    height: 300px;
    border: 5px solid #fff;
}

.quartasecao {
    width: 100%;
    height: 700px;
    background-color: #256D85;
}

#comidas {
    font-family: sans-serif;
    color: #fff;
    text-shadow: 1px 1px #000;
}

.img3 {
    background-position: right;
    width: 400px;
    height: 300px;
    display: inline-block;
}

.container5 {
    margin-left: 500px;
    width: 400px;
    height: 300px;
    border: 5px solid #fff;
}