body{
    background-image: url(https://th.bing.com/th/id/OIP.OqPZt8B_OD5cCh-9zK0hRgHaE8?w=296&h=197&c=7&r=0&o=5&pid=1.7);
}

h1 {
    color: rgb(100, 52, 52);
    text-align: center;
    background-color: rgb(201, 176, 158);
}
/*.l {
    color: rgb(100, 52, 52);
    background-color: rgb(201, 176, 158);
    text-align: center;
    font-size: 30px;
}*/
li {
    color: rgb(100, 52, 52);
}




