#nome {
    font-size: medium;
    color: black;
}

body {
    background-image: url("https://i.stack.imgur.com/W6Fuk.png");
    background-position: 55%;
    background-repeat: no-repeat;
    background-size: 200%;
    color: rgb(253, 249, 249);
    
}



p{
    color: aliceblue;
    margin-top: 140px;
}

#numero1{
margin-left: 36%;
margin-top: 13%;
height: 20px;
}
#numero2{
height: 20px;


}
#mais{
    margin-left: 43%;
    left: 10%;
    bottom: 2px;
    margin-top: 5%;
    height: 10%;
    width: 5%;

}
#menos{
    margin-left: 1%;
    left: 5px;
    bottom: 110px;  
    height: 10%;
    width: 5%;
}
#multi{
    margin-left: 43%;
    left: 10%;
    bottom: 20px;
    margin-top: 3%;
    height: 10%;
    width: 5%;
}
#dividir{
    margin-left: 1%;
    left: 50%;
    bottom: 50px;
    height: 10%;
    width: 5%;
}
#historico{
    margin-left: 47%;
    margin-top: 2%;
    height: 40px;
    
}
#redondo{
    
    z-index: -1;
    margin-left: 15%;
    max-width: 45%;
    border-radius: 200%;
    width: 100%;
    margin-right: 15%;
    position:absolute;
    right: 13%;
    margin-top: 5%;
}
#resultado{
    margin-left: 42%;
    margin-top: 10%; 
    position: absolute;
    height: 30px;

}
.titulo{
    margin-left: 43%;
    margin-top: 6%;
    position: absolute;
    color: black;
    
}
