.vitoria {
    width: 100;
    height: 800px;
    background-color: #00ff95;
}

img,
h1 {
    display: inline-block;
}

div.texto1 {
    font-size: 20px;
    width: 8px;
    padding-left: 4px;
}

#minhaHistoria {
    text-align: center;
    color: beige;
    font-size: 60px;
    width: 100%;
}