.Button button {
    background-color: #F3911F;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 200px;
    height: 50px;
}

.Button button:hover {
    background-color: #d0760f;
    color: #EEF1F5;

}

.Button {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 15px;
}

@media (max-width: 600px) {
    .Button button {
        width: 130px;
        height: 50px;
        padding: 10px 15px;
        text-align: justify;
        font-size: 0.8rem;
    }

    .Button {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}