body {
   background-image: url('https://i.pinimg.com/originals/ea/08/73/ea08735f2d6cc30f8ee48c0ee23ffe25.png'); 

  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-position: center;  
)

#natural {
  color: white;
  position: fixed;
  top: 183px;
  right: 77rem;
}

#selecao {
  position: fixed;
  top: 200px;
}



.header {
  color: white;
  background: black;
  width: 100%;
  height: 100%;
}

.titulo-calculadora{
  font-size:48px;
  font-family: Open Sans, Arial,     sans-serif;
   color: white ;
  
  position:absolute; 
  left:400px;
  top:20px;
  
}
.entrada{
  position:absolute;
 font-size:24px; 
  left:300px;
  top:130px;
 

}
#inpuntDois{
  position:absolute;
 font-size:24px; 
  left:300px;
  top:180px;
 
}

.somarNum{
  
  position:absolute; 
  left:625px;
  top:130px;
 font-size:20px;
  width: 29px;
  }

.diminuirNum{
   position:absolute; 
  left:670px;
  top:130px;
 font-size: 20px;
  width: 29px;
}

.multiplicaNum{
  position:absolute; 
  left:625px;
  top:170px;
   }


.divisorcaNum{
   position:absolute; 
  left:670px;
  top:170px;
 font-size: 20px;
  width: 29px;
}
.buttonLimpar{
  position:absolute; 
  left:710px;
  top:149px;
 font-size: 20px;
  width: 29px;
}
.potenciaNum{
  position:absolute; 
  left:750px;
  top:149px;
 font-size: 20px;
  width: 29px;
}
.result{
  color: white;
  font-size:2rem;
  font-family:Gill Sans, sans-serif	;

}


