body {
  background-image: url("https://i.pinimg.com/originals/4d/31/58/4d3158040a527ec3615366672de091d4.jpg");
  background-repeat: no-repeat;
  background-position: center;
 height: 800px;
  width: 100px;
  	margin:0 auto;
	padding:100px;
  	margin:0 auto;
  padding:100px;}
  
*{
  margin: 0 auto;
  padding: 0;
  font-family:Roboto, Arial, sans-serif;
  box-sizing: border-box;
  font-size: 18px;
  border: 0;

}



.calculadora{
  text-align: center;
  background-color: 	#8b0000;
  padding: 0.5em;
  border: 0; 
  

  
}

.calculadora input {
  width: 3em;
  height: 3em;
  cursor: pointer;
}

.calculadora input:hover {
  color: #fff;
  background-color: 	#800080;
  
}

.calculadora input#tela {
  text-align: right;
  width: 100%;
  cursor: auto;
  padding: 0.3em;
}

.calculadora input#tela:hover {
  background-color: 	#006400;
  color: #000;
  
}
.main {
  display: flex;
  justify-content: end;
     
}