.video-responsive {
    display: flex;
    justify-content: center;
    padding: 60px;

  }
  
  .video-responsive iframe {
    width: 560px;
    height: 315px;
  }

  .container-documentacao{
    max-width: 80%;
    margin: 9% auto 1% auto;
  }

  .container-documentacao h2{
    font-size: 90px;
  }

  .cards-artigos{
    font-size: 24px;
    color: #EEBCA1;
    font-family: "SourceSansPro-Light";
  }

  .cards-livros{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8%;
    padding-top: 50px;
  }

  .bloco-livro{
    width: 40%;
    padding: 5%;
  }

  .livro{
    float: left;
    border: transparent thin solid;
    padding: 5px;
    border-radius: 50px;
  }

  .linha{
    padding: 20px;
  }

  .h3-documentacao{
    font-family: "LatoWebBlack";
    line-height: normal;
    font-size: 90px;
    letter-spacing: 0.305556px;
    margin: 0;
    color: #EEBCA1;
  }

  .paragrafo-documentacao{
    font-family: "SourceSansPro-Light";
    font-size: 20px;
    line-height: 35px;
  }

  .container-videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  }

  .cards-videos{
    margin-top: 50px;
    color: #EEBCA1;
    display: inline-block;
    font-family: "LatoWebBlack";
    font-size: 90px;
    line-height: 85px;
    letter-spacing: 0.625px;
    margin: 0;
    padding-left: 8%;
    padding-top: 44px;
    width: 500px;
  }