body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.content {
  padding: 20px;
  text-transform: none;
  letter-spacing: 0;
  line-height: 1.5;
  font-weight: 360;
}


#img-banner {
  margin-top: 50px;
  display: block;
  width: 100vw;
  height: auto;
  margin-left: calc((100% - 100vw) / 2);
  margin-right: calc((100% - 100vw) / 2);
}



#about {
  text-align: justify;
  margin: 200px 200px;
  max-width: 3000px;
  margin-top: 150px;
}

.title-about {
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #333;
  margin-right: 120px;
}

#about p,
#contact p,
#info p {
  line-height: 2rem;
  font-size: 1.4rem;
}

#info a {
  color: #F3911F;
  font-weight: bold;
}

#info,
#contact {
  margin-top: 120px;
  text-align: center;
  margin-bottom: 50px;
}

#contact {
  margin-top: 20px;
  margin-bottom: 100px;
  text-align: center;
}

#contact a {
  color: #E60C5C;
  font-weight: bold;
}

@media (max-width: 768px) {
  .content {
    padding: 10px;
  }

  #img-banner {
    margin-top: 20px;
    flex-direction: column;
  }

  #about {
    margin: 20px 10px;
  }

  #about h2 {
    font-size: 1.5em;
    margin-right: 0;
  }

  #about p,
  #contact p,
  #info p {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  #info,
  #contact {
    margin-top: 50px;
  }

  #contact {
    margin-top: 10px;
    margin-bottom: 60px;
  }

}

@media (max-width: 480px) {
  .content {
    padding: 5px;
  }

  #img-banner {
    margin-top: 10px;
  }

  #about {
    margin: 10px 5px;
  }

  #about h2 {
    font-size: 1.2em;
  }

  #about p {
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin-bottom: 10px;
  }


  #contact p,
  #info p {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  #info,
  #contact {
    margin-top: 20px;
  }

  #contact {
    margin-top: 5px;
    margin-bottom: 30px;
  }

  .transition-effect {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
  }

  .show {
    opacity: 1;
  }



}