video{
position: fixed; 
right: 0; 	
bottom: 0; 	
min-width: 100%; 	
min-height: 100%; 	
width: auto; 	
height: auto; 	
z-index: -1000;  
}

.quem-sou, .tx-historia, .tx-lista-1-escala, .tx-lista-2-comida, .titulo-historia, .titulo-biografia {
  font-family: arial;
}

#pai, #mae {
  top: 10px;
  max-width: 1080px;
  border-top-style:solid;
  border-color: white;
  margin: auto;
  line-height: 50px;
  padding-left: 5px;
  opacity: 1.0;
}

.painel-principal-pai {
  height: 2000px;
  width: 90%;
  margin: auto;
  border-top-color: #e33258;
  
}

.painel-mae{
  position: relative; 
  height: 1895px;
  width: 95%;
  border-top-color: white;
 
}

.tela-preta{
  position: fixed;
  height: 2000px;
  background-color: black;
  width: 1085px;
  left: 164.7px;
  margin: -10px 0px 0px 0px; 
  opacity: 0.2;
  z-index:-999;
}

.quem-sou{
  position: relative;
  color: white;
  text-align: center;
  margin: 15px 0px -20px 0px;
  font-family: arial;
}

.foto-kalebe-div{
  position: ralative;
  margin: 5px;
  width: 300px;
  height: 300px;
}

.foto-kalebe{
  border-radius: 50%;
  width: 300px;
}

.biografia-div{
  position: absolute;
  width: 450px;
  height: 180px;
  top: 20px;
  left: 450px;
}

.titulo-biografia{
 padding-left: 30px;
 margin-bottom: -20px;
 margin-top: 30px; 
}

.tx-bio{
  font-weight: 900;
}

.titulo-historia{
  margin-bottom: -30px;
  margin-top: -15px;
  margin-left: 30px;
}

.tx-historia{
  width: 220px;
  height: 200px;
  margin: 20px 0px 0px 20px;
  line-height: 20px;
  padding: 0px 10px 0px 10px;
}

.lista-1-escala-div{
  position: absolute;
  top: 330px;
  left: 380px;
  width: 180px;
  height: 205px;
  border: 5px solid white; 
  border-radius: 20px;
}

.tx-lista-1-escala{
  line-height: 30px;
  margin-top: -30px;
}

.h3-lista-1{
 padding-left: 10px; 
}

.lista-2-comida-div{
  position: absolute;
  width: 180px;
  height: 205px;
  top: 330px;
  left: 630px;
  border: 5px solid white; 
  border-radius: 20px;
}

.h3-lista-2{
 padding-left: 10px; 
}

.tx-lista-2-comida{
  line-height: 30px;
  margin-top: -30px;
}

.tx-tabela{
  text-align: center;
  color: white;
}



th, td {
  border: 3px solid white;
  border-radius: 12px;
  padding: 0px 10px 0px 5px;
}

#tabela-horarios{
  position: absolute;
  top: 600px;
  left: 30px;
  width: 994.332124135135234px;
  height: 280px;
  padding: 10px;
}

.imagem-zap{
  position: absolute;
  width: 70px;
  top: 250px;
  left: 250px;
}

.oi{
  position: absolute;
  top: 890px;
  left: 470px;
}

#botao-oi{
  color: white;
  border:none;
  border-radius: 10px;
  height: 80px;
}

.robot{
  width: 50px;
}

.forms{
  position: absolute;
  top: 1000px;
  left: 50px;
  line-height: 30px;
}
