body {text-align:center;font-family:Arial}
body{
background-image: url("https://i.pinimg.com/736x/e4/23/49/e4234926aa75b482389e2d395f0c1550.jpg");
background-repeat: no-repeat;
background-size: 70em 500px; }
h2 {font-family:Georgia}
p {font-family:Georgia}
p1 {font-family:Georgia}