* {
    padding: 0px;
    margin: 0px;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.infos {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #102950;
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.coisasSobreMim {
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 2200px;
    background: #FFFFFF url("../../img/galaxia.jpeg") no-repeat right top fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
}

.titulo {
    font-size: 55px;
    padding-left: 1000px;
    padding-bottom: 200px;
    color: crimson;
}

.coisasQueEuGosto {
    font-size: 35px;
    color: rgb(255, 255, 255);
    padding-left: 80px;
    padding-right: 400px;
    padding-bottom: 200px;
}

.animesFavoritos {
    font-size: 35px;
    color: rgb(255, 255, 255);
    padding-left: 80px;
    padding-right: 400px;
    padding-bottom: 200px;
}

.jogosFavoritos {
    font-size: 35px;
    color: rgb(255, 255, 255);
    padding-left: 80px;
    padding-right: 400px;
    padding-bottom: 200px;
}

.saidaComAmigos {
    font-size: 35px;
    color: rgb(255, 255, 255);
    padding-left: 60px;
    padding-right: 100px;
}