.fundo{
  width: 100vw;
  height: 100vh;
  margin:0;
  padding: 0;
  background-image: url( "https://th.bing.com/th/id/Rb1548f564bb99516690ff1ebae9894d2?rik=S4xf7VSA%2fvrxSw&pid=ImgRaw");
background-repeat: no-repeat;
background-size: auto;
color:black;
 
}