.body{
background-color: rgb(75, 75, 75);
}
.all {
    
    border-style: solid;
    border-color: rgb(0, 0, 0);
border-radius: 53px 31px 10px 10px;
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiZwSkg_-F53B7lWL6y031-AabY6cMO9FvfA&usqp=CAU);

}

.ass {
    text-align: right;
}

.header {
    background-color: rgba(220, 220, 220, 0.753);
    text-align: center;
    border-style: solid; border-radius: 50px 25px;
    margin: 0px 0px 50px 0px ;
}
.pjo{
    width:20%;
padding-left: 15px;
margin-left: 15px;
float: right;
}
.dw{
    width:20%;
padding-left: 15px;
margin-left: 15px;
float: right;
}
