body {
  background-image: url(https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
} 
.nome-central{
  position: relative;
  text-align: center;
  font-size: 30px;
  font-family: times condensed;
  bottom: 7px;
}
.linha{
  position: relative;
  bottom: 80px;
}
.foto{
width: 130px;
  position: relative;
  left: 20px;
}
.quem-sou-eu{
  font-size:20px;
  position: relative;
  left: 20px
}
.texto-quem-sou-eu{
  font-size: 15px;
  width: 100px;
  position: relative;
  left: 35px;
}
.titulo-jogos{
position: relative;
  font-size: 20px;
  left: 200px;
  bottom:850px;
  display: inline-block
}
.texto-jogos-1{
  display: inline-block;
  position: relative;
  left: -100px;
  bottom:600px;
  font-size: 13px;
  width: 300px;
}
.titulo-series{
  position: relative;
  font-size: 20px;
  left: 550px;
  bottom:899px;
  display: inline-block
}
.texto-series-1{
  position: relative;
  font-size: 15px;
  left: 550px;
  bottom: 880px;
  width: 300px
}
.icone{
  position: relative;
  left: 6px;
  width: 50px;
}
.nome-carlos{
  position: relative;
  left: 200px;
  bottom: 60px;
     width: 600px;
}
.esportes{
  position: relative;
  font-size: 12px;
  left: 200px;
  bottom:760px;
}
.texto-esportes{
  position: relative;
  font-size: 15px;
  width: 300px;
  left: 100px;
  bottom: 370px
}
.musicas{
  position: relative;
  font-size: 8px;
  width: 199px;
  left: 570px;
  bottom: 1030px
}
.titulo-musica{
  font-size:25px;
  position: relative;
  bottom: 10px;
}
.icone-vampiro{
  position: relative;
  left: 570px;
  width: 50px;
  bottom: 1000px;
}
.icone-sem-do{
  position: relative;
  left: 570px;
  width: 50px;
  bottom: 1000px;
}
.titulo-tabela{
  position: relative;
  bottom: 510px;
  left: 10px;
  font-size: 25px
}
.tabela{
  border-collapse: collapse;
   position: relative;
  bottom: 1355px;
  left: 10px; 
}
th, td{
  border: solid 1px
}
.titulo-data{
  position: relative;
  top: 500px;
  font-size: 25px;
}
.form-dia{
  position: relative;
  top: 490px
}
.cor-favorita{
  position: relative;
  top: 480px;
  font-size:12px;
}
.cor{
  position: relative;
  top: 475px
}
.esporte-nome{
  position: relative;
  top:230px
}
.esporte-fav{
  position: relative;
  top: 460px
}




