.nome
{font-family: aria;
text-align: center;
  color: white;
  }

mah {font-family: aria
}
aboutme {font-family: arial
}
.foto1 {
  display: grid;
  position: relative;
  top: 40px;
  bottom: 100px;
  left: 20px;
  right: 200px;
  display: inline-block;
  border-radius: 50%;
}
.texto1{
  display: grid;
  position: relative;
  top: 80px;
  bottom: 100px;
  left: 25px;
  right:200px;
  width: 200px;
color: white;
  text-shadow: -1px 0px 1px black,0px 0px 1px black, -2px 2px 1px black, -1px 1px 1px black ;
}
.aboutme1{
  display: grid;
 position: absolute;
  top: 250px;
  bottom: 150px;
  left: 400px;
  width: 200px; 
   padding: 9px;
 border: 3px solid #ffcbdb;
border-top-width: 10px;
  color: white;
  text-shadow: -1px 0px 1px black,0px 0px 1px black, -2px 2px 1px black, -1px 1px 1px black ;

 }
.aboutme2{
  width: 200px;
  position: absolute;
  left:800px;
  top: 295px;
  padding: 9px;
 border: 3px solid #ffcbdb;

  border-top-width: 8px;
  color: white;
  text-shadow: -1px 0px 1px black,0px 0px 1px black, -2px 2px 1px black, -1px 1px 1px black ;
 }
body{ background-image: url('https://media.giphy.com/media/d7lw1txAlLiXFklDZG/giphy.gif'); 
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-position: center;  
}
.forms{
  position: absolute;
  top: 400px; 
  left:1200px;
  color: white;
  
}
