#timeline-container {
    margin-top: 10px;
    margin-bottom: 50px;
}

.timeline-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #E60C5C;
    padding: 50px;
    border-radius: 5px;
    width: 90%;
    max-width: 1550px;
    margin: 0 auto 0;
    position: relative;
}

.title-timeline {
    font-size: 1.8rem;
    color: #333;
    text-align: left;
    margin-left: 11%;
    margin-bottom: 20px;
}

.timeline-event {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    margin: 0 15px;
    margin-left: 20px;
    margin-right: 20px;
    white-space: nowrap;
    position: relative;
}

.timeline-event:not(:last-child)::after {
    content: '→';
    position: absolute;
    left: 100%;
    transform: translateX(20px);
    color: #E60C5C;
    font-weight: bold;
}

.timeline-description {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.4rem;
    text-align: center;
}

.timeline-date {
    font-size: 1rem;
    text-align: center;

}

@media (max-width: 600px) {
    .title-timeline {
        font-size: 1.5em;
        text-align: left;
        margin-left: 10px;
    }

    .timeline-box {
        width: 90%;
        overflow-x: auto;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        padding: 7px;
        left: auto;
    }

    .timeline-event {
        margin: 20px 0;
        text-align: center;
        align-items: center;
        right: auto;
        white-space: normal;
        font-size: 1rem;
    }

    .timeline-description {
        margin-bottom: 10px;
        white-space: normal;
    }

    .timeline-date {
        font-size: 1rem;
    }

    .timeline-event:not(:last-child)::after {
        content: '↓';
        position: absolute;
        top: calc(100% + 10px);
        left: 50%;
        transform: translateX(-50%);
        color: #E60C5C;
        font-weight: bold;
    }
}