h1{color:black;text-align:center;
margin-bottom:20px;
}
h2{text-align:center;color:red}
h3{color:green;text-aling:center}
p1{color:orange}
p3{color:yellow}






body{
background-image: url("https://i.pinimg.com/564x/8f/f0/18/8ff018004689c83083decbbcabb9ac61.jpg");
background-repeat: no-repeat;
background-size: 110em 700px;
}
yasuo{text-align:right}
table {
  border: 1px solid white;
}
td,th{
  border: 1px solid white;
}
table {
  width: 50%;color:white
}