#name{
    color: rgb(238, 233, 233);
    
    
}

.oi{
    color: aqua;
}

#foto1{
    position: relative;
    left: 25%;
    height: 400px;
}
#foto2{
    position: relative;
    left: 25%;
    height: 400px;
}
#foto3{
    position: relative;
    left: 25%;
    height: 400px
}
#foto4{
    position: relative;
    left: 25%;
    height:400px ;
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
div{
    background-color: rgb(20, 19, 19);
    height: 300;
    width: 300;

}