body{
background-image: url("./bob esponja.webp");
background-repeat: no-repeat;
background-size: 100%;
}

#somar{
    margin-left: 830px;
   width: 30px;
   height: 30px;
   margin-top: 30px;
   color: aqua;
   background-color: black;

}
#primeiroValor{
    margin-left: 38.5%;
    width: 200px;
    height: 30px;
    margin-top: 50px;
    background-color: black;
    color: aqua;
}
#segundoValor{
    width: 200px;
    height: 30px;
    background-color: black;
    color: aqua;
}
#dividir{
    margin-left:160px ;
    width: 30px;
    height: 30px;
   background-color: black;
   color: aqua;
}
#multiplicar{
    margin-left: 830px;
    width: 30px;
    height: 30px;
    background-color: black;
    color: aqua;

}
#subtrair{
    margin-left: 160px;
    width: 30px;
    height: 30px;
    margin-top: 30px;
background-color: black;
color: aqua;
}
#historicos{
    width: 30px;
    height: 30px;
    margin-left: 1200px;
    margin-top: 150px;
    background-color: black;
    color: aqua;
}
.nome{
    color: rgb(226, 213, 213);
    text-align: center;
    font-size: 100px;


    
    
}
.final{
    color: rgb(255,192,203);
    text-align:center;
    font-size:100px;
    margin-right: 1000px;
margin-top: 150px;
position: absolute;
}