.titulo{
  font-size: 46px;
  margin-left: 54px;
  margin-top: -46px;
  letter-spacing: -1px;
}

.subtitulo{
  font-size: 24px;
  font-family: source sans pro;
  position: relative;
  left: 65px;
  margin-top: -15px;
}

.cabeçalho{
  background-color: pink;
  height: 5px;
  width: 1050px;
  margin-top: 70px;
}

.cabeçalho-lateral{
  background-color: pink;
  height: 1400px;
  width: 5px;
  margin-top: -50px;
  margin-left: 45px;
  display: inline-block;
  position: absolute;
}

.p1{
  color: black;
  font-size: 18px;
  font-family: source sans pro;
  line-height: 1px;
  margin-top: -10px;
  margin-left: 85px;
}

.p2{
  color: black;
  font-size: 18px;
  font-family: source sans pro;
  line-height: 20px;
  margin-left: 85px;
  margin-top: -8px;
  width: 600px;
}

#negrito{
  font-weight:900;
  color: #FF1493;
}

.p3{ 
  color: black;
  font-size: 18px;
  font-family: source sans pro;
  line-height: 20px;
  margin-left: 85px;
  margin-top: -18px;
  width: 600px;
}

.linha-decorativa{
  background-color: pink;
  height: 1.4px;
  width: 670px;
  margin-left: 75px;
  margin-top: 60px;
  border-radius: 90px;
}

.cabelos{
  color: #FF1493;
  margin-left: 345px;
  margin-bottom: 15px;
  margin-top: 70px;
  font-size: 21px;
  font-style: italic;
}

.p4{
  text-align: center;
  color: black;
  font-size: 18px;
  font-family: source sans pro;
  width: 600px;
  line-height: 20px;
  margin-left: 85px;
  margin-top: -18px;
}

.foto-selfie{
  border-radius: 800px;
  width: 210px;
  float: right; 
  position: relative;
  right: 150px;
  margin-top: -60px;
}

#botao-insta{
  background-color: pink;
  border-radius: 8px;
  border-color: pink;
  width: 158px;
  padding: 6px;
  margin-left: 765px;
  position: relative;
  top: -160px;
}

.imagem-panqueca{
  width: 90px;
  position: relative;
  bottom: 65px;
  margin-right: 500px;
  margin-left: 500px; 
}


#lista-cabelos{
  display: inline-block;
  margin-top: -40px;
  margin-left: 80px;
}

#lista-comidas{
  display: inline-block;
  margin-left: 40px;
}

.fundo-lista-cabelos{
  background-color: pink;
  height: 12px;
  width: 167px;
  border-radius: 90px;
  padding-left: 8px;
}

.fundo-lista-comidas{
  background-color: pink;
  height: 12px;
  width: 117px;
  border-radius: 90px;
  padding-left: 9.5px;
}

.linha-decorativa2{
  background-color: pink;
  height: 1.4px;
  width: 900px;
  margin-left: 125px;
  margin-top: 60px;
  border-radius: 90px;
}

table{
  border-collapse: collapse; 
  float: right;
  position: absolute;
  right: 140px;
  top: 900px;
}

th,td{
  border: 1px solid #FF1493;
  padding: 3px;
}

.tabela{
  float: right;
  margin-bottom: 5px; 
  margin-right: 385px;
  font-size: 21px;
}

.bolinha-um{
  background-color: #FF1493;
  height: 11px;
  width: 11px;
  border-radius: 9px;
  margin-top: 36px;   
  position: absolute;
  left: 975px;
}

.bolinha-dois{
  background-color: #FF1493;
  height: 7px;
  width: 7px;
  border-radius: 9px;
  margin-top: 49px;
  position: absolute;
  left: 981px;
}

.bolinha-tres{
  background-color: #FF1493;
  height: 5px;
  width: 5px;
  border-radius: 9px;
  margin-top: 40px;
  position: absolute;
  left: 966px;
}

.titulo-forms{
  line-height: 4px;
  color: #FF1493;
  font-size: 21px;
  }

#forms{  
  line-height: 10px;
  position: relative;
  left: 140px;
  top: -26px;
}

#titulo-forms-cabelo{
  font-size: 18px;
  color: #FF1493;
}

.forms-cabelo{
  margin-left: 140px; 
  margin-top: 5px;
}

#titulo-generos-series{
  font-size: 18px;
  color: #FF1493;
}

.forms-series{
  margin-left: 140px; 
  margin-top: 5px;
}