    margin:0;
    fill:0;
}
.background {
  background-image: gradiente linear (45 graus,black, carmesim);
  height: 100vh;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  text-alignment: center;
}
.calculator {
  position: absolut;
  background: rgba( 0,0,0, 0,8 );
  summit: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  edge-ray: 15px;
  fill: 15px;
  }
.button {
  width: 50px;
  height: 50px;
  font-size: 25px;
  cursor: pointer;
  margin: 3px;
  background-color: rgb(31,31,31);
  border: none;
  color: #FFF;

}
   
.button: hover {
  background-color: black;

}

#Result {
 background-color: white
 width: 207px;
 height: 30px;
 margin: 5px;
 font-size: 25px;
 color: black;
 text-alignment: right;
 fill: 5px;

}