.imagem{
 
  width: 900px; 
height: 500px;
  
}


body {
background-image: url(https://i.pinimg.com/736x/2f/d2/a5/2fd2a54e574a9171e014f3339f080552.jpg);
background-size:cover;
  height: 100vh;
  width: 100vw;

}



.Gabriela1 {
  
  text-align: center;
  font-size:50px;
  color: #00bfff;
  background-color: white;
  border: 5px black solid;}


.Gabriela2 {
  color: black;
  font-size:60px;
  }

.Gabi1 {
  font-size:30px;
  color: black;
  background-color: white;
  border: 5px black solid;
  border-radius:20px;
 
}

  .Gab {
    font-size:30px;
    color: black;
    background-color: white;
    border: 5px black solid;
    border-radius:20px;
    
}

ol {color: black;
    font-size:25px;
}

p {background-color:white;
  color: #3db0f7;
font-size:30px}

a {color: black;
font-size:25px;}



th, td {
font-size:40px;
  border: 9px solid black;
}

.tabela1 {background-color:white;}
.tabela2  {background-color:white;}
.tabela3  {background-color:white;}

h1 {
  background-color:white;
  border:10px solid black 
}

.meu-formulario {
  background-color:#3db0f7;
   font-size:15px;
    border: 7px black solid;
    border-radius:30px;
 
    
}